{% extends "home.html" %}
{% block title %}Productos{% endblock %}
{% block content %}
    <h2>Lista de Productos</h2>
    <ul>
        {% for producto in productos %}
            <li>
                {{producto.id}} <br>
                <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}" width="150px">
                <h5>
                    {{ producto.nombre }}    
                </h5>
                <h6>
                    ${{ producto.valor }} 
                </h6>

                <!-- Formulario para modificar producto -->
                <form action="{{ url_for('modificar_producto', id=producto.id) }}" method="get" style="display:inline;">
                    <button type="submit">Modificar</button>
                </form>

                <!-- Formulario para borrar producto -->
                <form action="{{ url_for('borrar_producto', id=producto.id) }}" method="post" style="display:inline;" onsubmit="return confirm('¿Estás seguro que querés borrar este producto?');">
                    <button type="submit">Borrar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}